*.sw[op]
tmux/resurrect/
local/state
local/share/nvim/.netrwhist
local/share/lftp/
local/share/meld/
config/htop
config/zed/conversations
config/zed/embeddings
config/zed/themes
config/zed/.tmp*
vim/undo/
vim/plugged/
