[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "tmux/plugins/tmux-continuum"]
	path = tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "tmux/plugins/tmux-prefix-highlight"]
	path = tmux/plugins/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight.git
[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
[submodule "local/share/nvim/plugged/plenary.nvim"]
	path = local/share/nvim/plugged/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "local/share/nvim/plugged/nvim-metals"]
	path = local/share/nvim/plugged/nvim-metals
	url = https://github.com/scalameta/nvim-metals.git
[submodule "local/share/nvim/plugged/cmp-nvim-lsp"]
	path = local/share/nvim/plugged/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "local/share/nvim/plugged/nvim-cmp"]
	path = local/share/nvim/plugged/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "local/share/nvim/plugged/vim-vsnip"]
	path = local/share/nvim/plugged/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule "local/share/nvim/plugged/fzf.vim"]
	path = local/share/nvim/plugged/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "local/share/nvim/plugged/fzf"]
	path = local/share/nvim/plugged/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "local/share/nvim/plugged/vim-surround"]
	path = local/share/nvim/plugged/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "local/share/nvim/plugged/vim-repeat"]
	path = local/share/nvim/plugged/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "local/share/nvim/plugged/indent-blankline.nvim"]
	path = local/share/nvim/plugged/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim.git
[submodule "local/share/nvim/plugged/nvim-lspconfig"]
	path = local/share/nvim/plugged/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "local/share/nvim/plugged/clangd_extensions.nvim"]
	path = local/share/nvim/plugged/clangd_extensions.nvim
	url = https://github.com/p00f/clangd_extensions.nvim.git
[submodule "local/share/nvim/plugged/rust-tools.nvim"]
	path = local/share/nvim/plugged/rust-tools.nvim
	url = https://github.com/simrat39/rust-tools.nvim.git
